<!DOCTYPE html>
<html>
    <head>
        <title>GrowthStreet</title>
    </head>

    <body>
        <h1>Register with GrowthStreet</h1>

        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/index/">Return to the homepage.</a><br />
        {% else %}
        <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/borrower/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ borrower_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>